html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(45deg, #93a5cf, #e4efe9);
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #8e9aaf;
}

marquee {
    font-family: 'Stint Ultra Condensed', cursive;
    color: #0e1c36;
    font-size: 40px;
}

p {
    font-family: 'Tenor Sans', sans-serif;
    color: #0e1c36;
}

.line {
    background-color: #0e1c36;
    border-radius: 25px;
    height: 5px;
    width: 75px;
    margin-bottom: 50px
}

section {
    padding-bottom: 200px;
    padding-top: 100px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 0.5px solid #696969;
}

.travel_mainDiv img {
    width: 100%;
    height: 200px;
}

.travel_mainDiv hr {
    width: 100%;
}

.travel_mainDiv h5 , .travel_mainDiv p {
    margin-left: 20px;
}

.header {
    font-family: 'Tenor Sans', sans-serif;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px; 
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    font-family: 'Marcellus', serif;
}


.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
}

environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}


.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal_body {
    text-align: center;
}

